img {
  width: 100%;
}

.wedding {
  background-image: url("assets/images/logo.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 3rem;
  min-width: 320px;
  width: 100%;
  max-width: 480px;
  aspect-ratio: 10/13;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.party {
  min-width: 320px;
  width: 100%;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

p {
  width: fit-content;
  text-align: center;
}
